
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form action="/Users/Create" method="post">
    <input type="text" name="Name" required />
    <input type="email" name="Email" required />
    <input type="password" name="Password" required />
    <input type="tel" name="PhoneNumber" required />
    <button>Submit</button>
</form>
